-r requirements.txt
ast-serialize==0.3.0
boolean.py==5.0
CacheControl==0.14.4
certifi==2026.4.22
charset-normalizer==3.4.7
cyclonedx-python-lib==11.7.0
coverage==7.13.5
defusedxml==0.7.1
execnet==2.1.2
filelock==3.29.0
idna==3.13
iniconfig==2.3.0
license-expression==30.4.4
librt==0.10.0
markdown-it-py==4.2.0
mdurl==0.1.2
msgpack==1.1.2
mypy==2.0.0
mypy_extensions==1.1.0
packageurl-python==0.17.6
packaging==26.2
pathspec==1.1.1
pip==26.1.1
pip-api==0.0.34
pip-audit==2.10.0
pip-requirements-parser==32.0.1
platformdirs==4.9.6
pluggy==1.6.0
py-serializable==2.1.0
Pygments==2.20.0
pyparsing==3.3.2
pytest==9.0.3
pytest-cov==7.1.0
pytest-xdist==3.8.0
requests==2.33.1
rich==15.0.0
ruff==0.15.12
sortedcontainers==2.4.0
tomli==2.4.1
tomli_w==1.2.0
types-PyYAML==6.0.12.20260508
typing_extensions==4.15.0
urllib3==2.7.0
